.dayCSS {
    border: 1px solid #ffffff;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    background-color: #b6b6b6;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

.dayCSS.estimated {
   border: 1px solid #ffffff;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    background-color: #b6b6b6;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}


